<?xml version="1.0" encoding="UTF-8"?>

<suite name="Suite">
  <test thread-count="5" name="Test">
       <parameter name="browser" value="chrome"/>
     <classes>
            <!--<class name="testCases.TC_RegistrationTest"/>-->
            <!--<class name="testCases.TC_LoginTest"/>-->
            <class name = "testCases.TC_DatadrivenLoginTest">
            </class>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
